body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:linear-gradient( rgba(77,124,185,0.728),rgba(107,103,0.628));
}
#game-container{
    position: relative;
    width: 500px;
    height: 600px;
    /* border: 2px solid #333; */
    margin: 5px;
    overflow: hidden;

}
#target{
    position: absolute;
    left: 200px;
    background-color: red;
    border: none;
    width: 90px;
    border-radius: 10px;
    font-size: 25px;
    padding: 8px;
    cursor: pointer;
    transition: top 0.5s,left 0.5s;
            color: #fff;
}
#Yes{
    /* position: absolute;
        left: 200px; */
        background-color: green;
        border: none;
        width: 90px;
        border-radius: 10px;
        font-size: 25px;
        padding: 8px;
        cursor: pointer;
        transition: top 0.5s, left 0.5s;
        color: #fff;
}